NET "red_out<0>" 	 LOC = R8; 
NET "red_out<1>" 	 LOC = R9;
NET "red_out<2>" 	 LOC = T8;
NET "green_out<0>" LOC = P6;
NET "green_out<1>" LOC = P8;
NET "green_out<2>" LOC = N8;
NET "blue_out<0>"  LOC = U4;
NET "blue_out<1>"  LOC = U5;
NET "hs_out"		 LOC = T4;
NET "vs_out"		 LOC = U3;
NET "clk50_in" 	 LOC = B8;

NET "SS"				 LOC = K12;
NET "SClk"			 LOC = L15;
NET "MOSI"			 LOC = M15;
NET "Data<0>"	 	 LOC = J14;
NET "LED<0>"		 LOC = J15;
NET "LED<1>"		 LOC = K15;
NET "LED<2>"		 LOC = K14;
NET "LED<3>"		 LOC = E17;
NET "LED<4>"		 LOC = P15;
NET "LED<5>"		 LOC = F4;
NET "LED<6>"		 LOC = R4;

NET "abcdefg<0>"	 LOC = L18;
NET "abcdefg<1>"	 LOC = F18;
NET "abcdefg<2>"	 LOC = D17;
NET "abcdefg<3>"	 LOC = D16;
NET "abcdefg<4>"	 LOC = G14;
NET "abcdefg<5>"	 LOC = J17;
NET "abcdefg<6>"	 LOC = H14;
NET "abcdefg<7>"	 LOC = C17;

NET "AN<0>"			 LOC = F17;
NET "AN<1>"			 LOC = H17;
NET "AN<2>"			 LOC = C18;
NET "AN<3>"			 LOC = F15; 

NET "SW<0>"			 LOC = G18;
NET "SW<1>"			 LOC = H18;
NET "SW<2>"			 LOC = K18;
NET "SW<3>"			 LOC = K17;
NET "SW<4>"			 LOC = L14;
NET "SW<5>"			 LOC = L13;
NET "SW<6>"			 LOC = N17;
NET "SW<7>"			 LOC = R17;

NET "tgl_btn<0>"	 LOC = H13;
NET "tgl_btn<1>"	 LOC = E18;

#673769